@font-face {
  font-family: 'sell-icon';
  src:  url('fonts/sell-icon.eot?i69dll');
  src:  url('fonts/sell-icon.eot?i69dll#iefix') format('embedded-opentype'),
    url('fonts/sell-icon.ttf?i69dll') format('truetype'),
    url('fonts/sell-icon.woff?i69dll') format('woff'),
    url('fonts/sell-icon.svg?i69dll#sell-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sell-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close-fill:before {
  content: "\e900";
}
.icon-back:before {
  content: "\e901";
}
.icon-cart_fill:before {
  content: "\e902";
}
.icon-correct-c:before {
  content: "\e903";
}
.icon-delete:before {
  content: "\e904";
}
.icon-like_fill:before {
  content: "\e905";
}
.icon-right:before {
  content: "\e906";
}
.icon-round_add_fill:before {
  content: "\e907";
}
.icon-thumbs:before {
  content: "\e908";
}
.icon-thumbs-b:before {
  content: "\e909";
}
